@charset "utf-8";

body {
  background-color: orange;
}
h1{color:blueviolet; 
	text-align: center;

	font-size: 60px}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:blueviolet;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



p{color:blueviolet;  
  font-size:20px;
	text-align: center;
}
img { 
border-color:blueviolet; 
border-width: 5px;
margin:2px;
border-style:inset;}





